@model List<Entidades.Data.MdlItemRecibo>
@{
    ViewData["Title"] = "Recibos";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Recibos</h2>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-success fa-regular fa-square-plus" asp-action="Create" asp-controller="Home"></a>
        </div>
          <div class="col-sm-1">
            <a class="btn btn-success fa-regular fa-file-excel" asp-action="DownloadExcel" asp-controller="Home"></a>
        </div>
    </div>

    @if (Model.Count > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        <p>Consecutivo</p>
                    </td>
                     <td>
                        <p>Proveedor</p>
                    </td>
                    <td>
                        <p>Monto</p>
                    </td>
                    <td>
                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>
                           RC-@r.consecutivo.ToString().PadLeft(5, '0')
                        </td>
                        <td>
                            @r.proveedor
                        </td>
                        <td>
                            @r.monto @r.moneda
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Create" asp-route-id="@r.id" class="fa-regular fa-pen-to-square btn btn-warning"></a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@r.id" class="fa-regular fa-trash-can btn btn-danger "></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    }



</div>


